html,
body,
#root {
  height: 100vh;
  min-height: 100vh;
  max-height: 100vh;
}

.medium-tile {
  font-size: 2.5em;
}

.large-tile {
  font-size: 2.8em;
}

.no-flex {
  flex: 0;
}

.board {
  height: 100vh;
  display: flex;
  margin: 0;
}

.discard-area {
  flex: 1;
}

.game-info {
  display: flex;
  flex-direction: column;
  flex: 0 0 10em;
  background-color: green;
}

.game-status {
  flex: 0 0 1.5em;
  text-align: center;
  font-size: 3em;
}

.action-list {
  display: flex;
  flex-direction: column;
  flex: 1;
  align-items: center;
  justify-content: center;
}

.action {
  flex: 1;
  text-align: center;
  font-size: 3em;
  justify-content: center;
  width: 100%;
}

.active {
  background-color: orange;
}

.inactive {
  background-color: gray;
}

.main-board {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.all-opponents {
  display: flex;
  flex-direction: column;
  background-color: yellow;
}

.single-opponent {
  display: flex;
  flex: 1 1 4em;
}

.opponent-wind {
  flex: 0;
  background-color: lightblue;
}

.opponent-hand {
  display: flex;
  flex: 1;
  background-color: purple;
}
